.recommended-section {
  width: 100%;
  padding-top: 20px;

  @media (min-width: 900px) {
    padding: 0 10%;
    padding-top: 20px;
  }

  .button-wrapper {
    padding: 20px 0;
    width: 100%;
    position: relative;
    .flex();

    .carousel-wrapper {
      width: 100%;
      height: 100%;
      overflow: scroll;

      @media (min-width: 600px) {
        margin: 0 5%;
        overflow: hidden;
      }

      .carousel {
        .flex();
        padding-left: 5%;
        width: 450%;
        transition: transform 400ms;

        @media (min-width: 600px) {
          padding-left: 0;
          width: 339%;
        }

        @media (min-width: 900px) {
          width: 202%;
        }

        .card {
          width: 40%;
          overflow: hidden;
          height: 200px;
          background: #fff;
          border-radius: 5px;
          margin-right: 0.4%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          padding-bottom: 30px;
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.05);
          background-size: cover;
          background-position: center;
          transition: width 420ms;

          @media (min-width: 600px) {
            height: 300px;
            margin-right: 0.5%;
            width: 34%;
          }

          @media (min-width: 900px) {
            width: 10%;
            height: 245px;
          }

          .card-title {
            font-size: 18px;
            color: #fff;
            text-align: center;
            margin: 5px 0px;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          }

          .card-description {
            font-size: 14px;
            margin: 5px 0px;
            color: #fff;
            text-align: center;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          }
        }
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .btn {
      cursor: pointer;
      position: absolute;
      display: none;
      justify-content: center;
      align-items: center;
      height: 45px;
      width: 45px;
      background: #fff;
      border-radius: 50%;
      outline: none;
      z-index: 20;
      border: none;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

      @media (min-width: 600px) {
        display: flex;
      }
    }

    .left-btn {
      left: 2.5%;
      display: none;
    }

    .right-btn {
      right: 2.5%;
    }

    .carousel_wrapper::-webkit-scrollbar {
      display: none;
    }
  }
}

// .recommended_section {
//   width: 100%;
//   padding: 0 10%;

//   .button_wrapper {
//     width: 100%;
//     height: 280px;
//     display: flex;
//     justify-content: center;
//     position: relative;
//     transition: width 420ms;

//     .carousel_wrapper {
//       height: 100%;
//       width: 91%;
//       overflow: hidden;
//     }

//     .carousel {
//       width: 200%;
//       height: 100%;
//       display: flex;
//       transition: transform 400ms;
//       align-items: center;
//     }

//     .card {
//       width: 9.4%;
//       height: 245px;
//       background: #fff;
//       border-radius: 3px;
//       margin: 0 0.4%;
//       display: flex;
//       flex-direction: column;
//       justify-content: flex-end;
//       padding-bottom: 30px;
//       box-shadow: 0 8px 15px rgba(0, 0, 0, 0.05);
//       background-size: cover;
//       background-position: center;
//       transition: width 420ms;
//     }

//     .card-title {
//       font-size: 18px;
//       color: #fff;
//       text-align: center;
//       margin: 3px 0px;
//       text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
//     }

//     .card-description {
//       font-size: 14px;
//       color: #fff;
//       text-align: center;
//       text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
//     }

//     .btn {
//       cursor: pointer;
//       position: absolute;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       height: 45px;
//       width: 45px;
//       background: #fff;
//       border-radius: 50%;
//       outline: none;
//       z-index: 20;
//       top: 50%;
//       transform: translateY(-50%);
//       border: none;
//       box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
//     }

//     .left-btn {
//       left: 1px;
//       display: none;
//     }

//     .right-btn {
//       right: 1px;
//     }
//   }

//   @media (max-width: 1200px) {
//       padding: 0;
//     .button_wrapper {
//       height: 350px;
//       width: 100%;
//     }

//     .carousel {
//       width: 330%;
//     }

//     .card {
//       height: 300px;
//       width: 33%;
//     }
//   }

//   @media (max-width: 600px) {
//       padding: 0;
//     .button_wrapper {
//       height: 220px;
//       justify-content: flex-start;

//       .carousel_wrapper {
//         overflow: scroll;

//         .carousel {
//             width: 480%;
//           }

//           .card {
//             height: 200px;
//             width: 45%;
//           }

//       }

//       .btn {
//         display: none;
//       }

//       .carousel_wrapper::-webkit-scrollbar {
//         display: none;
//       }

//     }
//   }
// }
