.introducing-plus {
    width: 100%;
    padding-top: 20px;

    @media (min-width: 900px) {
        padding: 0 10%;
    }
}

.info-card-wrapper {
    .flex();

    .info-card {
        position: relative;
        border-radius: 5px;
        margin: 20px 0;
        height: 280px;
        width: 90%;
        background-image: url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
        background-size: cover;
        background-position: center;
        box-shadow: 0 3px 35px rgba(0,0,0,.1);
        overflow: hidden;

        .info-card-content {
            z-index: 10;
            height: 100%;
            width: 100%;
            position: absolute;
            .flex(space-evenly; center; column;);

            h1 {
                color: #fff;
                font-size: 45px;
                font-family: 'Courgette', cursive;
            }
    
            .info-button {
                .flex();
                height: 45px;
                width: 200px;
                background: #eaeaea;
                font-weight: 700;
                border: none;
                font-size: 12px;
                border-radius: 3px;
                box-shadow: 0 4px 8px rgba(0,0,0,.2);

                .material-icons {
                    font-size: 14px;
                }
            }
        }
    }

    .info-card:after {
        z-index: 5;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.3);
    }
}
