.explore-results {
    width: 100%;
    padding-top: 20px;
}

.search-results {
  padding: 20px 0%;

  .product-results {
    width: 100%;
    padding: 20px 5%;
    .flex(space-between;);
    flex-wrap: wrap;
  }
}
